extends ../layout

block content
 div(class='row')
  div(class='col-lg-1')

  div(class='col-lg-7')
   form(method="post" action="/news_upload" enctype="multipart/form-data" data-toggle='validator' role='form')
    div(class="form-group has-feedback")
     input(type="text" placeholder="Title" name="title" class='form-control' required)
     span(class="glyphicon form-control-feedback" aria-hidden="true")
     div(class="help-block with-errors")
    div(class="form-group has-feedback")
     span(class="btn btn-default btn-sm fileinput-button")
      i(class="glyphicon glyphicon-paperclip")
      input(id="files" type="file" name="file" class="fileinput-button" accept="image/*" required)
     span(class="glyphicon form-control-feedback" aria-hidden="true")
     div(class="help-block with-errors")
    div(class="form-group has-feedback")
     textarea(placeholder="News content" name="content" style="width:400px;height:200px;" class='form-control' required)
     span(class="glyphicon form-control-feedback" aria-hidden="true")
     div(class="help-block with-errors")
    div(class="row")
     input(type="submit" class="btn btn-primary" value="Upload")
