extends layout

block content
  h2 CONTACT PERSONS
  p(style='margin:20px;') Interested paper and/or poster presenters are encouraged to send abstracts and papers at the following addresses:
  p(style='font-weight:bold;margin-left:30px;') 1.	St. Mary’s University (SMU)
  p(style='margin-left:40px;') Ms. Senait Getahun, Research Officer
  p(style='margin-left:40px;') Research and Knowledge Management Office (RaKMO),
  p(style='margin-left:40px;') St. Mary’s University, Addis Ababa, Ethiopia
  p(style='margin-left:40px;') Email: <a href="#">senaitgeta@yahoo.com</a>

  p(style='font-weight:bold;margin-left:30px;') 2.	African Union Commission (AUC)
  p(style='margin-left:40px;') Dr. Monica Ebele Idinoba, Department of Human Resources,
  p(style='margin-left:40px;') Science and Technology, African Union Commission
  p(style='margin-left:40px;') Addis Ababa, Ethiopia
  p(style='margin-left:40px;') Email: <a href="#">IdinobaM@africa-union.org</a>

  p(style='font-weight:bold;margin-left:30px;') 3.	Association of African Universities
  p(style='margin-left:40px;') Prof. Jonathan Mba, Association of African Universities,
  p(style='margin-left:40px;') African Universities House, 11 Aviation Road Extension, Airport Residential Area
  p(style='margin-left:40px;') P. O. Box AN 5744, Accra-North, Ghana
  p(style='margin-left:40px;') Tel: +233-302-774495 / 761588
  p(style='margin-left:40px;') Email: <a href="#">jcmba@aau.org</a>

  p(style='font-weight:bold;margin-left:30px;') 4.	UNESCO/International Institute for Capacity Building in Africa (IICBA)
  p(style='margin-left:40px;') Dr. Yumiko Yokozeki, Director
  p(style='margin-left:40px;') UNESCO/IICBA, Menelik II Avenue, UNECA Compound
  p(style='margin-left:40px;') P.O. Box 2305 Addis Ababa, Ethiopia
  p(style='margin-left:40px;') Tel.: +251 (0) 11 544 56 85
  p(style='margin-left:40px;') Mobile: +251 (0) 91 120 26 53
  p(style='margin-left:40px;') Fax: +251 (0) 11 551 49 36
  p(style='margin-left:40px;') Email: <a href="#">y.yokozeki@unesco.org</a>
