extends layout

block content
 div(class='col-lg-2')
 div(class='col-lg-8' style='color:black;')
  h1 General Information
  h3 Venue,
  h3 Language,
  h3 Currency,
  h3 Climate and Clothing,
  h3 Local Time,
  h3 Telephones, etc.
