extends layout

block content
    h1(style='text-align:center;') conference synopsis
    P(align='justify' style='margin-left:20px;') Since 2003, St. Mary’s University (SMU) has been organizing a
      | series of annual conferences on different themes on education and development.
      | In fact, SMU had the privilege to co-organize the 10th International Conference on Private Higher
      | Education in Africa with the African Union Commission (AUC), the Association of African Universities (AAU)
      | and others partners. Building on the experiences of effective inter-institutional collaboration in the past,
      | the SMU, AUC, AAU, and UESCO/IICBA (International Institute for Capacity Building in Africa) are again joining
      | hands to organize the 14th International Conference on Private Higher Education in Africa in the context of the
      | SDGs and Agenda 2063: The Africa We Want of the AU.
    p(align='justify' style='margin-left:20px;') This is a timely undertaking given the fact that higher education institutions,
      | both in the public and private sectors, are required to build the requisite capacities for the attainment of the SDGs at national,
      | regional and international levels.
    h3(align='center') OBJECTIVES
    p(align='justify' style='margin-left:20px;') The specific objectives include to:
    p(align='justify' style='margin-left:40px;') - Promote dialogue between regional/continental organizations, policy/decision-makers,
      | leaders of public and private institutions of higher learning, the civil society and other stakeholders;
    p(align='justify' style='margin-left:40px;') - Increase awareness and understanding of  the role of higher institutions in the SDGs and
      | to enhance their contribution and participation in the implementation of the SDGs;
    p(align='justify' style='margin-left:40px;') - Establish a regular consultative fora to strengthen public-private and multi-stakeholder partnership to, among others, facilitate research, sharing of knowledge and best practices on the nexus between higher education and the SDGs;
    p(align='justify' style='margin-left:40px;') - Develop a common agenda for problem-solving research and outreach programs at regional and subregional levels in the context of the SDGs;
    h3(align='center') EXPECTED OUTCOMES
    p(align='justify' style='margin-left:20px;') Expected outcomes of the conference will include:
    p(align='justify' style='margin-left:40px;') - Shared understanding and consensus on the role of private higher education in Sustainable Development;
    p(align='justify' style='margin-left:40px;') - Opportunities for enhanced cooperation and partnership building among all stakeholders including public and private institutions of higher learning and regional institutions dealing with education and sustainable development;
    p(align='justify' style='margin-left:40px;') - Common priority areas and programs for the implementation of the SDGs identified and elaborated;
    h3(align='center') PARTICIPANTS
    p(align='justify' style='margin-left:20px;') The Conference is expected to be attended by about 300 participants from Africa,
      | Europe, America and the rest of the world. The participants will include leaders of institutions of higher learning
      | from both public and private sectors; representatives (experts and policy-makers) of ministries in charge of higher education in Africa,
      | regional organizations dealing with higher education, academics and educational researchers.
      | A limited number of paper presenters from Africa and other developing countries could be sponsored to facilitate their participation.
    h3(align='center') CONFERENCE REGISTRATION FEES
    p(align='justify' style='margin-left:20px;') - Conference fees will cover local transport, lunch and refreshment during the conference:
    table.table.table-condensed
          thead
            tr
              th Categories
              th Registration fees ($)
                tr
                  th
                  th Early Registration before 31st May 2016
                  th Late Registration after  1st June 2016
          tbody
            tr
              td Graduate Students from AAU Member  Universities
              td(align='right') 100
              td(align='right') 200
            tr
              td Graduate Students from Other Universities
              td(align='right') 150
              td(align='right') 250
            tr
              td Other participants from Africa
              td(align='right') 200
              td(align='right') 250
            tr
              td Other participants outside Africa
              td(align='right') 250
              td(align='right') 300
    p(align='justify' style='margin-left:20px;') - Conference registration fees should be made by regular bank transfer.
    p(align='justify' style='margin-left:20px;') - Banking details shall be posted on the Conference website on or before 30th March 2016.

 //div(id='mycarousel' class='carousel slide' data-role='carousel')
  ol(class='carousel-indicators')
   li(data-target='#mycarousel' data-slide-to='0' class='active')
   li(data-target='#mycarousel' data-slide-to='1' class='')
   li(data-target='#mycarousel' data-slide-to='2' class='')
   li(data-target='#mycarousel' data-slide-to='3' clas='')
  div(class='carousel-inner')
   div(class='item active')
    img(src='images/carousel/con1.jpg' alt='First slide')
   div(class='item')
    img(src='images/carousel/con2.jpg' alt='second slide')
   div(class='item')
    img(src='images/carousel/con3.jpg' alt='third slide')
   div(class='item')
    img(src='images/carousel/con4.jpg' alt='fourth slide')
  //a(class='left carousel-control' href='#mycarousel' role='button' data-slide='prev')
   //span(class='glyphicon glyphicon-chevron-left')
  //a(class='right carousel-control' href='#mycarousel' role='button' data-slide='next')
   //span(class='glyphicon glyphicon-chevron-right')
