extends layout

block content
   div(class='row')
    div(class='col-lg-3')
    div(class='col-lg-5')
     form(class='' data-toggle='validator' role='form' id='loginform')
      span(class="glyphicon form-control-feedback" aria-hidden="true" id="server")
      div(class='form-group has-feedback')
       input(type='email' name='email' id='email' placeholder='email' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='password' name='password' id='password' placeholder='password' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors password")
      button(id='loginsubmit' value='login' class='btn btn-primary') Login
