extends layout

block content
 div(class="row")
  div(class="col-lg-4 col-md-6 col-sm-6 col-xs-12")
   div(class="entry-post")
    div(class="thumb")
     img(src="images/logo_smu_small.png" alt="")
     div(class="caption")
      h3(class="main-title")
       a(href="games-single.html") Alien Isolation Remastered
      p(class="margin-bottom-20") Aliquam imperdiet augue dui, non fermentum dolor aliquam in. Nunc molestie nunc...
       a(href="games-single.html" class="btn btn-block btn-primary") View Detail
  div(class="col-lg-4 col-md-6 col-sm-6 col-xs-12")
   div(class="entry-post")
          div(class="thumb")
           img(src="images/logo_smu_small.png" alt="")
           div(class="caption")
            h3(class="main-title")
             a(href="games-single.html") Alien Isolation Remastered
            p(class="margin-bottom-20") Aliquam imperdiet augue dui, non fermentum dolor aliquam in. Nunc molestie nunc...
             a(href="games-single.html" class="btn btn-block btn-primary") View Detail
  div(class="col-lg-4 col-md-6 col-sm-6 col-xs-12")
               div(class="entry-post")
                div(class="thumb")
                 img(src="images/logo_smu_small.png" alt="")
                 div(class="caption")
                  h3(class="main-title")
                   a(href="games-single.html") Alien Isolation Remastered
                  p(class="margin-bottom-20") Aliquam imperdiet augue dui, non fermentum dolor aliquam in. Nunc molestie nunc...
                   a(href="games-single.html" class="btn btn-block btn-primary") View Detail
