extends layout

block content
   div(class='row')
    div(class='col-sm-3')
    div(class='col-sm-6')
     form(class='' action='/participate' method='post' data-toggle='validator' role='form')
      div(class='form-group has-feedback')
       input(type='email' name='email' placeholder='email' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
         input(type='text' name='swiftcode' placeholder='swift code' class='form-control' required)
         span(class="glyphicon form-control-feedback" aria-hidden="true")
         div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='firstname' placeholder='first name' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='middlename' placeholder='middle name' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='lastname' placeholder='last name' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='title' placeholder='title' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='phone' placeholder='phone number' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='organization' placeholder='organization' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='position' placeholder='position' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='country' placeholder='country' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='address' placeholder='address' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='password' data-minlength="6" id='pass' name='password' placeholder='password' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='password' data-minlength="6" data-match="#pass" name='confirm' placeholder='confirm password' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      input(type='submit' name='submit' value='register' class='btn btn-primary')
