extends layout

block content
   div(class='row')
    div(class='col-sm-3')
    div(class='col-sm-6')
     form(data-toggle='validator' role='form' id='register')
      div(class='form-group has-feedback')
         select(name='option' id='option' class='form-control selector' required)
          option(value='' disabled selected) select user type
          option(value='writer') Author
          option(value='participate') Participant
         span(class="glyphicon form-control-feedback" aria-hidden="true")
         div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='email' name='email' id='email' placeholder='email' class='required valid form-control' data-remote="/emailverify" required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors email")
      div(class='form-group has-feedback')
       input(type='text' name='firstname' id='firstname' placeholder='first name' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='middlename' id='middlename' placeholder='middle name' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='lastname' id='lastname' placeholder='last name' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='title' id='title' placeholder='title' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='phone' id='phone' placeholder='phone number' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='organization' id='organization' placeholder='organization' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='position' id='position' placeholder='position' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='country' id='country' placeholder='country' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='text' name='address' id='address' placeholder='address' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='password' data-minlength="6" id='pass' name='password' placeholder='password' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      div(class='form-group has-feedback')
       input(type='password' data-minlength="6" id='confpass' data-match="#pass" name='confirm' placeholder='confirm password' class='form-control' required)
       span(class="glyphicon form-control-feedback" aria-hidden="true")
       div(class="help-block with-errors")
      button(id='registersubmit' name='submit' class='btn btn-primary') Register
