extends layout

block content
 div(class='col-lg-1')
 div(class='col-lg-10' style='color:black;')
  p(align='center')
    img(src='images/under-const.png' width='200px' height='200px')
    h2(align='center') Under Construction
