extends layout

block content
  h1 IMPORTANT DATES
  table.table.table-condensed
        thead
          tr
            th Event
            th Date
        tbody
          tr
            td Abstract submission
            td(align='right') 01 March 2016
          tr
            td Notification of acceptance of Abstract
            td(align='right') 15 March 2016
          tr
            td Online registration opens
            td(align='right') 01 May 2016
          tr
            td Submission of Full Paper & Power Point Presentations
            td(align='right') 30 May 2016
          tr
            td Publication of Abstracts and Program and Handbook
            td(align='right') 30 June 2016
          tr
            td Conference date
            td(align='right') 12-14 July	2016
