extends layout

block content
  h2(align='center') The Role of Private Higher Education Institutions (PHEIs) in Sustainable Development
  p(align='justify' style='margin-left:20px;')
    span(style='margin-left:50px;') Sustainable development refers to enhanced economic growth and transformation
    | without compromising the needs of future generations (IISD, 2013). Sustainable development has been an
    | overarching concern for the international community since the 1980s. Accordingly, the last three or so
    | decades have witnessed considerable amount of international cooperation and participation of relevant
    | stakeholders in realizing global targets such as Agenda 21 or the Rio consensus on climate change, the
    | Programs of Action of the International Conference on Development (ICPD), and the Million Development Goals (MDGs).
    | The latter is now replaced by the Sustainable Development Goals (SDGs). These and many international commitments
    | recognize the role of education in general and higher education in particular as a catalyst for sustainable development
    | through scientific research, technology generation, innovation and application of new knowledge towards achieving
    | accelerated economic growth and ensuring efficient utilization of resources including conservation, restoration
    | and rehabilitation of finite resources.
  p(align='justify' style='margin-left:20px')
    span(style='margin-left:50px;') Sustainable development is a process which requires a cumulative effort of not only public institutions
    | and funding but also the resources and capacity of private higher institutions of learning. As a matter of fact,
    | private higher education institutions (PHEIs) account for more than 25 percent of the total enrollment in Africa,
    | generate considerable employment opportunities and inject a huge amount of capital spending in the region’s economies.
    | This is therefore a timely undertaking to explore the actual and potential roles of PHEIs and regional institutions in
    | Africa’s endeavor to implement the SDGs at national, regional and international levels.
  p(align='justify' style='margin-left:20px')
    span(style='margin-left:50px;') Since 2003, St. Mary’s University (SMU) has been organizing a series of annual conferences on different
    | themes on education and development. In fact, SMU had the privilege to co-organize the 10th International Conference
    | on Private Higher Education in Africa with the African Union Commission (AUC), the Association of African Universities
    | (AAU) and others partners. Building on the experiences of effective inter-institutional collaboration in the past,
    | the SMU, AUC, AAU, and UESCO/IICBA (International Institute for Capacity Building in Africa) are again joining hands
    | to organize the 14th International Conference on Private Higher Education in Africa in the context of the SDGs and Agenda 2063:
    | The Africa We Want of the AU.
  p(align='justify' style='margin-left:20px')
    span(style='margin-left:50px;') This is a timely undertaking given the fact that higher education institutions, both
    | in the public and private sectors, are required to build the requisite capacities for the attainment of the SDGs at national,
    | regional and international levels.
  h3(align='center') SUB-THEMEATIC AREAS
  p(align='justify' style='margin-left:20px')
    span(style='margin-left:50px;') In line with the major theme on the
    span(style='font-style:oblique;font-weight: bold;')  “Role of Private Higher Education in Sustainable Development”,
    | the Conference will explore the following sub-thematic areas. Each theme is expected to attract several papers and speakers on:
    p(style='margin-left:40px') i.	Access, affordability and quality of higher education for sustainable development;
    p(style='margin-left:40px') ii.	Qualification of teachers: Implications for teaching/learning, and research;
    p(style='margin-left:40px') iii.	Employability skills/entrepreneurship and sustainable development;
    p(style='margin-left:40px') iv.	Sectoral policies, public-private partnership and university-industry linkages;
    p(style='margin-left:40px') v.	The role of regional institutions in higher education and sustainable development
    p(style='margin-left:40px') vi.	Gender equality, equity and community services
